<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <%= simple_form_for([@post, @comment]) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <%= f.hidden_field :user_id, value: current_user.id %>
        
        <div class="field">
          <div class="control">
          <%= f.input :body, wrapper: false, input_html: { class: "textarea" } %>
          </div>
        </div>

        <div class="field">
          <div class="control">
          <%= f.button :submit, class: "button is-medium is-danger" %>
          </div>
        </div>
      <% end %>

      <%= link_to "Back", :back %>

    </div>
  </div>
</div>
