<section class="hero is-danger is-small">
  <div class="hero-body">
    <p class="title has-text-grey-darker has-text-centered">
      Welcome to the House of Hades
    </p>
  </div>
</section>
  
<%= render "form" %>

<section class="section page has-background-grey-dark has-text-white-ter">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <% @posts.each do |post| %>
          <% if current_user.friends.include?(post.user) || post.user == current_user %>
            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <%= image_tag user_profile_pic(post.user), class: "is-rounded" %>
                </p>
              </figure>

              <div class="media-content">
                <div class="content">
                  <p>
                    <strong class="has-text-white-ter is-size-5"><%= post.user.name %></strong> -
                    <%= pretty_time(post) %>
                  </p>
                  <p class="is-size-6">
                    <%= post.body %>
                  </p>
                  <% if post.photo.attached? %>
                    <div class="content">
                      <%= image_tag post.photo.variant(resize: "400x400") %>
                    </div>
                  <% end %>
                  <p>
                    Likes: <%= post.likes.count %> |
                    <% if post.likes.any? { |like| like.user_id == current_user.id } %>
                      <%= link_to "Unlike", post_like_path(post, post.likes.find_by_user_id(current_user.id)), method: :delete %> |
                    <% else %>
                      <%= link_to "Like", post_likes_path(post), method: :create %> |
                    <% end %>
                    <%= link_to "Comment", new_post_comment_path(post) %>
                    <% if post.user == current_user %>
                      <br>
                      <%= link_to "Edit Post", edit_post_path(post) %> |
                      <%= link_to "Delete Post", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
                    <% end %>
                  </p>
                </div>

                <% if post.comments.any? %>
                  <article class="media">
                    <div class="media-content">
                      <h2 class="title is-6 has-text-white-ter">Comments:</h2>
                      <% post.comments.each do |comment| %>
                        <div class="block">
                          <div class="content">
                            <p>
                              <strong class="has-text-white-ter is-size-6"><%= comment.user.name %></strong> -
                              <%= pretty_time(comment) %>
                            </p>
                            <p>
                              <%= comment.body %>
                            </p>
                            <p>
                              Likes: <%= comment.likes.count %> |
                              <% if comment.likes.any? { |like| like.user_id == current_user.id } %>
                                <%= link_to "Unlike", post_comment_like_path(post, comment, comment.likes.find_by_user_id(current_user.id)), method: :delete %>
                              <% else %>
                                <%= link_to "Like", post_comment_likes_path(post, comment), method: :create %>
                              <% end %>
                              <% if comment.user == current_user %>
                                <br>
                                <%= link_to "Edit", edit_post_comment_path(post, comment) %> |
                                <%= link_to "Delete", post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure you want to delete this comment?" } %>
                              <% end %>
                            </p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </article>
                <% end %>
              </div>
            </article>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<footer class="footer has-background-grey-dark pb-2">
  <div class="content">
    <%= link_to "Privacy Policy", privacy_policy_path, class: "is-size-7" %>
  </div>
</footer>