<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="success"><%= success %></p>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav>
      <%= link_to "Fakebook", root_path, class: "button is-large is-link" %>
      <%= link_to "New Post", new_post_path, class: "button is-medium is-link" %>
      <% if user_signed_in? %>
        <%= link_to current_user.name, edit_user_registration_path, class: "button is-medium is-link" %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button is-medium is-link" %>
        <%= link_to "Friend Requests", friendships_path, class: "button is-medium is-link" %>
      <% end %>
    </nav>
    
    <%= yield %>
  </body>
</html>
