<!DOCTYPE html>
<html>
  <head>
    <title>HadesNet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style><%= yield :stylesheets %></style>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav id="main-nav" class="navbar has-background-grey-darker">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-4 has-text-danger">HadesNet</h1>
        <% end %>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "New Post", new_post_path, class: "navbar-item has-text-danger" %>
          <% if user_signed_in? %>
            <%= link_to current_user.name, user_path(current_user), class: "navbar-item has-text-danger" %>
          <% end %>
        </div>

        <div class="navbar-end">
          <% if user_signed_in? %>
            <div class="navbar-item">
              <%= link_to "Find Friends", users_path, class: "button is-medium is-danger is-outlined" %>
            </div>
            <% if current_user.received_requests.pending.any? %>
              <div class="navbar-item">
                <%= link_to "Friend Requests (#{current_user.received_requests.pending.count})", user_friendships_path(current_user), class: "button is-medium is-danger" %>
              </div>
            <% else %>
              <div class="navbar-item">
                <%= link_to "Friend Requests", user_friendships_path(current_user), class: "button is-medium is-danger is-outlined" %>
              </div>
            <% end %>
            <div class="navbar-item">
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button is-medium is-danger is-outlined" %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    
    <div id="content">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

  </body>
</html>
